<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Entry Number:</strong>
  <%= @student.entry_number %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %> | 
<%= link_to 'Destroy', student_path(@student),
	method: :delete,
	data: { confirm: 'Are you sure?' } %>